.canton-boundary {
  fill: none;
  stroke: rgb(255, 0, 0);
  stroke-linejoin: round;
}

text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  text-anchor: middle;
}

.select2 {
    width: 200px;
}
